body {
  margin: 10%;
  text-align: center;
}

.container {
  margin: 20%;
}

.form-control {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  align-self: center;
}

#button {
  margin-top: 1%;
}
